h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
  
img {
    height: 1102px;

	box-sizing: border-box;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

html, body { 
    margin: 0; height: 100%; overflow: hidden 
}